html{
    font-size: 60%;

    body{
        background-image: url(https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28312.jpg?w=996&t=st=1668627647~exp=1668628247~hmac=59b9129b8cc4df34b7f8a3413b52f79b5cd6823e2d22ccf5aa55382f9d004040);
        color: $color-fuentes;
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }
}